.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/core/build/
/android/build/
/lwjgl3/build/
/local.properties
.idea/
*.iml
*.class
.DS_Store
/captures/
.externalNativeBuild
.cxx
# /assets/
